.TodoItem {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin: 12px 30px;
  width: calc(100% - 72px);
  color: var(--white);
  background-color: var(--purple-item);
  box-shadow: var(--box-shadow);
}

.TodoItem--complete {
  border-left: 4px solid var(--white);
  border-right: 4px solid var(--white);
}

.TodoItem-title {
  width: calc(100% - 120px);
  margin: 12px 0 1px 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-weight: bold;
}

.TodoItem-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82%;
}

.TodoItem-p {
  width: calc(100% - 200px);
  margin: 5px 53px 1px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: 2px solid var(--highlight) line-through;
}