.TodoItem {
  position: relative;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin: 24px;
  width: calc(100% - 62px);
  background-color: #FAFAFA;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem--complete {
  border-left: 6px solid rgba(41, 114, 5, 0.89);
  border-right: 6px solid rgba(41, 114, 5, 0.89);
}

.TodoItem-p {
  width: calc(100% - 120px);
  margin: 24px 0 24px 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}