.TodoItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 72px);
  margin: 12px 29px;
  padding: 3px;
  border-radius: 25px;
  background-color: var(--purple-item);
  color: var(--white);
  box-shadow: var(--box-shadow);
}

.TodoItem--complete {
  border-left: 4px solid var(--white);
  border-right: 4px solid var(--white);
}

.TodoItem--edit:hover {
  cursor: pointer;
  background-color: var(--purple-bright);
}

.TodoItem-title {
  margin: 12px 0 1px 24px;
  width: calc(100% - 120px);
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.TodoItem-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82%;
}

.TodoItem-p {
  margin: 5px 53px 1px 0px;
  width: calc(100% - 200px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-border {
  padding: 6px;
  border-radius: 50px;
  text-align: left;
}

.TodoItem-border-home {
  border: 2px solid var(--home);
}

.TodoItem-border-work {
  border: 2px solid var(--work);
}

.TodoItem-border-personal {
  border: 2px solid var(--personal);
}

.TodoItem-p--complete {
  text-decoration: 2px solid var(--highlight) line-through;
}
