.LoadingTodo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 72px);
    margin: 12px 30px;
    padding: 24px 0;
    border-radius: 25px;
    box-shadow: var(--box-shadow-purple);
    background: linear-gradient(90deg, rgba(250, 250, 250, 1), rgb(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

.LoadingTodo-text {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.LoadingTodo-completeIcon,
.LoadingTodo-editIcon,
.LoadingTodo-deleteIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(200, 199, 199), rgb(185, 181, 181));
}

.LoadingTodo-completeIcon {
    position: absolute;
    right: 100px;
}

.LoadingTodo-editIcon {
    position: absolute;
    right: 50px;
}

.LoadingTodo-deleteIcon {
    position: absolute;
    top: 24px;
    right: 0;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}