.TodoList {
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;
  border-radius: 26px;
  background-color: var(--gold);
  max-height: 600px;
  overflow-y: auto;
}

.Todo-list-hundred--percent {
  width: 50%;
}

.TodoList::-webkit-scrollbar {
  width: 5px;
  margin-top: 10px;
  border-radius: 24px;
}

.TodoList::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 24px;
}

.TodoList:hover::-webkit-scrollbar-thumb {
  background-color: var(--purple-bright);
}

.TodoList::-webkit-scrollbar-track {
  background-color: var(--gold);
  border-radius: 24px;
  margin: 18px 0px 18px 50px;
}