.ModalBackground { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 75, 91, 0.8);
    color: #fff;
}

.ModalBackground-empty {  
    left: auto; 
}