.TodoGroup {
    position: relative;
    display: flex;
    flex-direction: row;
}

.TodoGroup-button {
    position: relative;
    width: 100px;
    left: 20px;
    right: 24px;
    margin: 2px;
    margin-bottom: 8px;
    border: none;
    border-radius: 25px;
    color: var(--white);
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    background-color: var(--dark);
    box-shadow: var(--box-shadow);
}

.TodoGroup-button--home {
    background-color: var(--home);
}

.TodoGroup-button--work {
    background-color: var(--work);
}

.TodoGroup-button--personal {
    background-color: var(--personal);
}

@media (max-width: 980px) {
    .TodoGroup-button {
        width: 80px;
        left: 0;
        right: 0;
        margin: 1px;
    }
}