.TodoForm {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    max-width: 300px;
    padding: 5px 40px;
    border-radius: 26px;
    box-shadow: none;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
}

.TodoForm-label {
    border-radius: 28px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #1e1e1f;
    margin-bottom: 26px;
}

.TodoForm-input {
    width: calc(100% - 25px);
    min-width: 0px;
    padding: 12px;
    border: 2px solid var(--purple);
    border-radius: 15px;
    margin-top: 10px;
    background-color: #f9fbfc;
    box-shadow: 0 5px 50px rgba(32, 35, 41, .25);
    color: #1e1e1f;
    text-align: center;
}

.TodoForm-textArea {
    width: calc(100% - 25px);
    height: 96px;
    padding: 12px;
    border: 2px solid var(--purple);
    border-radius: 15px;
    margin-top: 10px;
    background-color: #f9fbfc;
    box-shadow: 0 5px 50px rgba(32, 35, 41, .25);
    color: #1e1e1f;
    text-align: center;
}

.TodoForm-textArea::placeholder {
    color: #a5a5a5;
    font-family: montserrat;
    font-weight: 400
}

.TodoForm-select {
    width: calc(100% - 1px);
    padding: 12px;
    border: 2px solid var(--purple);
    border-radius: 15px;
    margin-top: 10px;
    background-color: #f9fbfc;
    box-shadow: 0 5px 50px rgba(32, 35, 41, .25);
    color: #1e1e1f;
    text-align: center;

}

.TodoForm-textArea:focus,
.TodoForm-input:focus,
.TodoForm-label:focus {
    outline-color: var(--purple-bright);
}

.TodoForm-buttonContainer {
    display: flex;
    width: 100%;
    margin-top: 14px;
    justify-content: space-between;
    align-items: center;

}

.TodoForm-button {
    display: inline-block;
    width: 120px;
    height: 48px;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 400;
    font-family: montserrat;
    color: var(--white);
    cursor: pointer;
}

.TodoForm-button--add {
    background-color: var(--purple);
    box-shadow: 0 5px 25px var(--purple);
}

.TodoForm-button--cancel {
    background-color: var(--button-cancel);
    color:var(--white);
}

.TodoForm-button--add:hover {
    background-color: var(--purple-bright);
}

.TodoForm-button--cancel:hover {
    background-color: #b2b0b0;
}