:root {
  /*========== Colors ==========*/

  --hue-color: 271;
  --gold: #FDB927;
  --purple: hsl(var(--hue-color), 56%, 33%);
  --purple-bright: hsl(var(--hue-color), 87%, 55%);
  --purple-item: hsl(var(--hue-color), 100%, 25%);
  --box-shadow: var(--purple-bright) 0px 10px 50px -20px;
  --highlight: #ffff00;
  --highlight-two: #ff0000;
  --white: #FFFFFF;
  --font: 'Montserrat', Arial, Helvetica, sans-serif;

  /*--black: #000000;
  --very-light-gray: #C7C7C7;
  --text-input-field: #F7F7F7;
  --mechanic-orange: #E66000;
  --dark: #232830;
  --body-color: var(--white);
  --border-botton: 1px solid var(--very-light-gray);
  --invert-green: brightness(0.9) sepia(0.8) hue-rotate(5deg);
  --color-text: var(--black);
  --image-with-hover: invert(100%) brightness(0);
  --image-outwith-hover: brightness(0.5); */

  /*========== Sizer  Font ==========*/
  --md: 24px;
  /* --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --size: 240px;
  --bit-size: 140px; */
}

body {
  margin: 0;
  padding: 0;
  background: var(--gold);
  color: var(--white);
  font-family: var(--font);
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}