:root {
  /*========== Colors ==========*/

  --hue-color: 271;
  --gold: #FDB927;
  --purple: hsl(var(--hue-color), 56%, 33%);
  --purple-bright: hsl(var(--hue-color), 87%, 55%);
  --purple-item: hsl(var(--hue-color), 100%, 25%);
  --box-shadow: var(--purple-bright) 0px 10px 50px -20px;
  --highlight: #ffff00;
  --highlight-two: #ff0000;
  --white: #FFFFFF;
  --button-cancel: #000000;
  --font: 'Montserrat', Arial, Helvetica, sans-serif;

  /*========== Sizer  Font ==========*/
  --md: 24px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: var(--font);
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 24px;
  min-height: 100vh;
}