:root {
  /*========== Colors ==========*/

  --hue-color: 271;
  --gold: #fdb927;
  --purple: hsl(var(--hue-color), 56%, 33%);
  --purple-bright: hsl(var(--hue-color), 87%, 55%);
  --item: hsl(var(--hue-color), 100%, 25%);
  --list: var(--gold);
  --box-shadow-purple: 1px 11px 50px -17px var(--purple-bright);
  --highlight: #ffff00;
  --highlight-two: #ff0000;
  --white: #FFFFFF;
  --dark: #000000;
  --gray-transparent: #b4b4b49e;
  --button-cancel: var(--dark);
  --title: var(--purple);
  --home: #00fff7;
  --work: #8cff00;
  --personal: #ff00aa;
  --complete: var(--white);
  --box-shadow: 0 5px 16px var(--dark);

  /*========== Sizer  Font ==========*/
  --md: 24px;
  --lg: 64px;

  /* Type font*/
  --font: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: var(--font);
  background-color: var(--white);
}

body.dark-theme {
  --item: initial;
  --list: var(--purple);
  background-color: var(--purple);
  --title: var(--gold);
  --complete: var(--gold);
}


#root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  min-height: 75vh;
}