.Icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: var(--md);
    font-weight: 700;
    cursor: pointer;
}

.Icon-container-check {
    position: absolute;
    right: 65px;
}

.Icon-container-check--active {
    color: var(--highlight);
}

.Icon-container-edit {
    position: absolute;
    right: 35px;
}

.Icon-container-delete {
    position: absolute;
    right: 0
}

.Icon-container-delete:hover {
    color: var(--highlight-two);
}

.Icon-svg {
    width: var(--md);
    height: var(--md);
}

.Icon-svg-white {
    fill: var(--white);
}

.Icon-svg-yellow {
    fill: var(--highlight);
}

.Icon-container-check:hover .Icon-svg {
    fill: var(--highlight);
}

.Icon-container-edit:hover .Icon-svg {
    fill: var(--purple-bright);
}

.Icon-container-delete:hover .Icon-svg {
    fill:var(--highlight-two);
}

