.TodoSearch {
  width: calc(100% - 62px);
  height: 64px;
  margin: 0 24px;
  background: #F9FBFC;
  border: 2px solid #202329;
  border-radius: 100px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  color: #1E1E1F;
  text-align: center;
}

.TodoSearch::placeholder {
  font-family: 'Montserrat';
  font-weight: 400;
  color: #A5A5A5;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}
