.TodoSearch {
  width: calc(100% - 62px);
  height: 64px;
  margin: 0 24px;
  background: var(--white);
  border: 2px solid  var(--purple);
  border-radius: 100px;
  box-shadow: var(--box-shadow);
  font-family: var(--font);
  font-size: var(--md);
  font-weight: 400;
  /* color: #1E1E1F; */
  text-align: center;
}

.TodoSearch::placeholder {
  font-family: var(--font);
  font-weight: 400;
  color: #A5A5A5;
}

.TodoSearch:focus {
  outline-color: var(--purple-bright);
}