.TodoSearchBox {
  position: relative;
}

.TodoSearch {
  width: calc(100% - 62px);
  height: var(--lg);
  margin: 0 24px;
  background: var(--white);
  border: 2px solid var(--purple);
  border-radius: 100px;
  box-shadow: var(--box-shadow-purple);
  font-family: var(--font);
  font-size: var(--md);
  font-weight: 400;
  text-align: center;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: var(--font);
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: var(--purple-bright);
}

.TodoSearch-icon {
  position: absolute;
  right: 2.5rem;
  top: 1.5rem;
  color: var(--title);
  width: var(--md);
  height: var(--md);
}
